body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.container {
  border: 1px solid gray;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 80vw;
  overflow: hidden;
}
.testing {
  position: absolute;
  top: 0;
  left: 0;
  /*
    sunrise
    background: linear-gradient(
    to top,
    #feebf8,
    #f1c7f1 45%,
    #c999e5 75%,
    #9c75c6 100%
  ); */

  /*early morning*/
  background: linear-gradient(to top, #fffffe, #ffebda 65%, #ffd9cc 100%);

  /*midday*/
  /* background: linear-gradient(
    to top,
    #c9f6ff,
    #97ebf4 45%,
    #7ae5f5 65%,
    #65ddef 78%,
    #35d6ed 100%
  ); */

  /*
  sunset:
    background: linear-gradient(to top, #882f7f, #412683 70%, #292369 100%);
  
  */

  /* rain
  background: linear-gradient(to top, #98bdbd, #5c9ac7 35%, #6a899e);
  */

  width: 100%;
  height: 40%;
  opacity: 0.9;
  z-index: 1;
}
.mt,
.mtshadow {
  position: absolute;
  top: 20%;
  left: 0%;
  height: auto;
  width: 100%;
  height: 20%;
  z-index: 10;
  opacity: 1;
}
.mt svg,
.mtshadow svg {
  width: 100%;
}

.front,
.frontshadow {
  position: absolute;
  top: 38%;
  width: 28%;
  padding: 0;
}

.front {
  right: 0.05%;
  z-index: 40;
}
.frontshadow {
  right: 0%;
  z-index: 50;
}
.fartrees {
  position: absolute;
  top: 17.2%;
  left: 30%;
  z-index: 10;
  width: 40%;
}
.fartrees svg {
  width: 100%;
}
.fartrees svg path {
  fill: #25591f;
}
.fartreesleft {
  position: absolute;
  width: 42%;
  top: 5%;
  left: 0;
}
.fartreesleft svg {
  width: 100%;
}
.fartreesright {
  position: absolute;
  width: 44%;
  top: 3%;
  right: 0;
}
.fartreesright svg {
  width: 100%;
}
.land {
  position: absolute;
  top: 45.5%;
  z-index: 30;
  width: 100%;
  height: 10%;
  left: 0;
  background-color: white;
}
.farfrontleft {
  position: absolute;
  width: 38%;
  top: 17%;
  left: -5.8%;
  z-index: 20;
  transform: rotateZ(-5deg);
}
.farfrontleft svg {
  width: 100%;
}
.farfrontleft svg path {
  fill: #1d4618;
}
.farfrontright {
  position: absolute;
  width: 33%;
  top: 18%;
  right: -2%;
  z-index: 20;
}
.farfrontright svg {
  width: 100%;
}
.farfrontright svg path {
  fill: #25591f;
}
