body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.wrap {
  position: relative;
  top: 55%;
  left: 50%;
  height: 75vh;
  width: 75vw;
  min-width: 1450px;
  transform: translate(-50%, -50%) scale(0.75);
}
.container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1300px;
  overflow: hidden;
  margin-bottom: 75%;
}
/* @keyframes bganimate {
  0% {
    background: linear-gradient(
      to top,
      #feebf8,
      #f1c7f1 45%,
      #c999e5 75%,
      #9c75c6 100%
    );
  }
  35% {
    background: linear-gradient(to top, #fffffe, #ffebda 65%, #ffd9cc 100%);
  }
  70% {
    background: linear-gradient(
      to top,
      #c9f6ff,
      #97ebf4 45%,
      #7ae5f5 65%,
      #65ddef 78%,
      #35d6ed 100%
    );
  }
  100% {
    background: linear-gradient(to top, #882f7f, #412683 70%, #292369 100%);
  }
}
.testing {
  position: absolute;
  top: 0;
  left: 0;
  /*
    sunrise
    background: linear-gradient(
    to top,
    #feebf8,
    #f1c7f1 45%,
    #c999e5 75%,
    #9c75c6 100%
  ); */

/*early morning*/
/* background: linear-gradient(to top, #fffffe, #ffebda 65%, #ffd9cc 100%); */

/*midday*/
/* background: linear-gradient(
    to top,
    #c9f6ff,
    #97ebf4 45%,
    #7ae5f5 65%,
    #65ddef 78%,
    #35d6ed 100%
  ); */

/*
  sunset:
    background: linear-gradient(to top, #882f7f, #412683 70%, #292369 100%);
  
  */

/* rain
  background: linear-gradient(to top, #98bdbd, #5c9ac7 35%, #6a899e);
  */
/* background: linear-gradient(
    to top,
    #c9f6ff,
    #97ebf4 45%,
    #7ae5f5 65%,
    #65ddef 78%,
    #35d6ed 100%
  ); */
/* background: linear-gradient(
    to top,
    #feebf8,
    #f1c7f1 45%,
    #c999e5 75%,
    #9c75c6 100%
  );
  width: 100%;
  height: 90%;
  opacity: 0.9;
  z-index: 1; */
/* animation: bganimate 10s ease-out infinite; */
/* } */

.backgroundgradient {
  width: 100%;
  height: 95%;
  opacity: 0.95;
  z-index: 1;
}
.mt,
.mtshadow {
  position: absolute;
  top: 58%;
  left: 0%;
  height: auto;
  width: 100%;
  height: 20%;
  z-index: 50;
  opacity: 1;
}
.mt svg,
.mtshadow svg {
  width: 100%;
}

.fartrees {
  position: absolute;
  top: 74%;
  left: 31%;
  z-index: 15;
  width: 39%;
}
.fartrees svg {
  width: 100%;
}

.fartreesleft {
  position: absolute;
  width: 42%;
  top: 46%;
  left: 0;
}
.fartreesleft svg {
  width: 100%;
}
.fartreesright {
  position: absolute;
  width: 44%;
  top: 41%;
  right: 0;
}
.fartreesright svg {
  width: 100%;
}

.farfrontleft {
  position: absolute;
  width: 38.5%;
  top: 73.5%;
  left: -5.5%;
  z-index: 50;
  transform: rotateY(200deg) rotateZ(5deg) rotateX(30deg) translateY(1%);
}

.farfrontleft svg {
  width: 100%;
  width: 0;
}

.farfrontright {
  position: absolute;
  width: 33%;
  top: 69.9%;
  right: -2%;
  z-index: 22;
  transform: rotateY(201deg) rotateZ(-5.5deg) rotateX(-30deg) scaleX(-1)
    scaleY(0.9) scale(1.08) translateY(5%);
}
.farfrontright svg {
  width: 100%;
  width: 0;
}
.water {
  position: absolute;
  top: 84%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
}
.water svg {
  width: 100%;
}
.firstview {
  position: absolute;
  bottom: -3.2%;
  left: 0;
  width: 110%;
  z-index: 200;
}
.firstview svg {
  width: 100%;
}

.firstviewright {
  position: absolute;
  z-index: 300;
  width: 130%;
  bottom: -16%;
  right: -84%;
  transform: scaleX(-1) scale(0.8);
}
.firstviewleft {
  position: absolute;
  z-index: 300;
  width: 85%;
  bottom: -13.5%;
  left: -45.9%;
  transform: scale(0.9);
}

.leftgrass {
  position: absolute;
  top: 78%;
  left: 26%;
  width: 20%;
  z-index: 202;
}
.leftgrass svg {
  width: 100%;
}
.middlegrass {
  position: absolute;
  top: 89%;
  left: 40.2%;
  width: 22%;
  z-index: 403;
}
.middlegrass svg {
  width: 100%;
}
.rightgrass {
  position: absolute;
  width: 20%;
  top: 88%;
  left: 56%;
  z-index: 301;
}
.rightgrass svg {
  width: 100%;
}
.closeforestleft {
  position: absolute;
  top: 69.5%;
  left: -10%;
  width: 50%;
  z-index: 190;
}
.closeforestleft svg {
  width: 100%;
}
.closeforest {
  position: absolute;
  top: 79%;
  left: 29%;
  width: 43%;
  z-index: 191;
}
.closeforest svg {
  width: 100%;
}
.closeforestright {
  position: absolute;
  z-index: 190;
  top: 54.5%;
  left: 61%;
  width: 45%;
  transform: rotateZ(10deg);
}
.closeforestright svg {
  width: 100%;
}
.mtforestleft {
  position: absolute;
  z-index: 170;
  top: 76.3%;
  left: -3.96%;
  width: 35%;
}
.mtforestleft svg {
  width: 100%;
}
.mtforestright {
  position: absolute;
  z-index: 180;
  top: 50%;
  right: 0;
  width: 50%;
}
.mtforestright svg {
  width: 100%;
}

@keyframes animate {
  0% {
    transform: rotateZ(-55deg) rotateX(10deg) skew(-3deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  /* 22% {
    background: url("./imgs/tail3.svg") no-repeat;
  } */

  50% {
    transform: rotateZ(45deg) rotateY(10deg) rotateX(-15deg) skewY(5deg);

    /* background: url("./imgs/tail3.svg") no-repeat;
    transform-origin: 100px 200px; */
  }
  100% {
    transform: rotateZ(-55deg);
  }
  /* 60% {
    transform: rotateZ(250deg);
  } */
  /* 50% {
    transform: rotateZ(200deg);
  }
  100% {
    transform: rotateZ(250deg);
  } */
}
.test {
  position: absolute;
  top: 100%;
  left: 25%;
  border: 1px solid sienna;
  width: 50%;
  height: 800px;
  transform: scale(0.5);
}
.tail {
  position: absolute;
  display: block;
  width: 60px;
  height: 222px;
  padding: 0;
  margin: 0;
  top: 40%;
  left: 8%;
  text-align: center;
  transform-origin: top center;
  background: url("./imgs/tail2.svg") no-repeat;
  transform: rotate(0);

  animation: animate 4.5s cubic-bezier(0.45, 0.5, 0.63, 0.69) infinite backwards;
}

.window {
  position: absolute;
  z-index: 500;
  width: 120%;
  top: -3.5%;
  left: -10%;
}
.window svg {
  width: 100%;
}
