body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.view {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  position: relative;
}
.wrap {
  background: url("images/resizedbg.png") no-repeat;
  background-size: 135%;
  background-position: 20% 60%;
  height: 90vh;
  width: 85vw;

  /* transform: translate(-50%, -50%) scale(0.75); */
}

.container {
  position: absolute;
  top: 57.4vh;
  left: 52.1%;
  transform: translate(-50%, -50%) scale(0.81) scaleY(1.1);
  width: 41.5vw;
  height: 50%;
  max-width: 41.5vw;

  overflow: hidden;
}
.window {
  position: absolute;
  width: 50vw;
  top: 34.5%;
  left: 27.2%;
  transform: scaleY(1.09);
}
.window svg {
  width: 100%;
}
.couch {
  position: relative;
  top: 55.5vh;
  left: 47.63vw;
  display: inline-block;
}
.couch img {
  width: 28.5vw;
  display: inline-block;
}

/* @keyframes bganimate {
  0% {
    background: linear-gradient(
      to top,
      #feebf8,
      #f1c7f1 45%,
      #c999e5 75%,
      #9c75c6 100%
    );
  }
  35% {
    background: linear-gradient(to top, #fffffe, #ffebda 65%, #ffd9cc 100%);
  }
  70% {
    background: linear-gradient(
      to top,
      #c9f6ff,
      #97ebf4 45%,
      #7ae5f5 65%,
      #65ddef 78%,
      #35d6ed 100%
    );
  }
  100% {
    background: linear-gradient(to top, #882f7f, #412683 70%, #292369 100%);
  }
}
.testing {
  position: absolute;
  top: 0;
  left: 0;
  /*
    sunrise
    background: linear-gradient(
    to top,
    #feebf8,
    #f1c7f1 45%,
    #c999e5 75%,
    #9c75c6 100%
  ); */

/*early morning*/
/* background: linear-gradient(to top, #fffffe, #ffebda 65%, #ffd9cc 100%); */

/*midday*/
/* background: linear-gradient(
    to top,
    #c9f6ff,
    #97ebf4 45%,
    #7ae5f5 65%,
    #65ddef 78%,
    #35d6ed 100%
  ); */

/*
  sunset:
    background: linear-gradient(to top, #882f7f, #412683 70%, #292369 100%);
  
  */

/* rain
  background: linear-gradient(to top, #98bdbd, #5c9ac7 35%, #6a899e);
  */
/* background: linear-gradient(
    to top,
    #c9f6ff,
    #97ebf4 45%,
    #7ae5f5 65%,
    #65ddef 78%,
    #35d6ed 100%
  ); */
/* background: linear-gradient(
    to top,
    #feebf8,
    #f1c7f1 45%,
    #c999e5 75%,
    #9c75c6 100%
  );
  width: 100%;
  height: 90%;
  opacity: 0.9;
  z-index: 1; */
/* animation: bganimate 10s ease-out infinite; */
/* } */

.backgroundgradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
}

.mountain {
  position: absolute;
  top: 50.9%;
  left: 0;
  height: auto;
  width: 100%;
  height: 20%;
  z-index: 50;
  opacity: 1;
  transform: scaleY(1.3) scaleX(1.1);
}

.mountain svg {
  width: 100%;
}

.fartrees {
  position: absolute;
  top: 74.5%;
  left: 31%;
  z-index: 55;
  width: 39%;
  transform: scale(1.2);
}
.fartrees svg {
  width: 100%;
}

.farfrontleft {
  position: absolute;
  width: 38.5%;
  top: 73.5%;
  left: -5.5%;
  z-index: 50;
  transform: rotateY(200deg) rotateZ(5deg) rotateX(30deg) translateY(1%);
}

.farfrontleft svg {
  width: 100%;
  width: 0;
}

.farfrontright {
  position: absolute;
  width: 33%;
  top: 69.9%;
  right: -2%;
  z-index: 22;
  transform: rotateY(201deg) rotateZ(-5.5deg) rotateX(-30deg) scaleX(-1)
    scaleY(0.9) scale(1.08) translateY(5%);
}
.farfrontright svg {
  width: 100%;
  width: 0;
}
.water {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
}
.water svg {
  width: 100%;
}
.waves {
  background: #667e94;
  position: absolute;
  top: 0;
  left: 50%;
  height: 50px;
  width: 20%;
  z-index: 88000;
}
.waves svg {
  width: 20px;
}
.firstwave,
.secondwave {
  z-index: 88000;
  top: 35%;
  left: -50%;
  position: absolute;
  width: 1px;
}
.firstwave {
  animation: firstwave 40s ease-in-out forwards infinite;
}
.secondwave {
  top: 40%;
  animation: secondwave 40s ease-in-out forwards infinite;
}
@keyframes firstwave {
  0% {
    transform: translateY(2px);

    left: -60%;
  }
  10% {
    transform: translateY(-2px);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
  60% {
    transform: translateY(2px);
  }
  70% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(-2px);
  }
  100% {
    left: 100%;
    transform: translateY(2px);
  }
}

@keyframes secondwave {
  0% {
    transform: translateY(-4px);
    left: -62%;
  }
  10% {
    transform: translateY(4px);
  }
  20% {
    transform: translateY(-4px);
  }
  30% {
    transform: translateY(4px);
  }
  40% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px);
  }
  60% {
    transform: translateY(-4px);
  }
  70% {
    transform: translateY(4px);
  }
  80% {
    transform: translateY(-4px);
  }
  90% {
    transform: translateY(4px);
  }
  100% {
    left: 100%;
    transform: translateY(-4px);
  }
}

.firstview {
  position: absolute;
  bottom: -2%;
  left: -20%;
  width: 145%;
  z-index: 200;
}
.firstview svg {
  width: 100%;
}

.firstviewright {
  position: absolute;
  z-index: 300;
  width: 165%;
  bottom: -18%;
  right: -104%;
  transform: scaleX(-1) scale(0.7);
}
.firstviewleft {
  position: absolute;
  z-index: 300;
  width: 100%;
  bottom: -15.5%;
  left: -62.4%;
  transform: scale(0.9);
}

.leftgrass {
  position: absolute;
  top: 90%;
  left: 10.5%;
  width: 30.5%;
  z-index: 202;
}
.leftgrass svg {
  width: 100%;
}
.middlegrass {
  position: absolute;
  top: 86%;
  left: 35.2%;
  width: 32%;
  z-index: 403;
}
.middlegrass svg {
  width: 100%;
}
.rightgrass {
  position: absolute;
  width: 23%;
  top: 89.5%;
  left: 56%;
  z-index: 301;
}
.rightgrass svg {
  width: 100%;
}
.closeforestleft {
  position: absolute;
  top: 64%;
  left: -55%;
  width: 67.5%;
  z-index: 192;
  transform: scale(1.49);
}
.closeforestleft svg {
  width: 100%;
}
.closeforest {
  position: absolute;
  top: 75.5%;
  left: 25%;
  width: 43%;
  z-index: 191;
  transform: scale(1.5);
}
.closeforest svg {
  width: 100%;
}
.closeforestright {
  position: absolute;
  z-index: 192;
  top: 55.5%;
  left: 70%;
  width: 50%;
  transform: rotateZ(10deg) scale(1.9);
}
.closeforestright svg {
  width: 100%;
}

.mtright {
  position: absolute;
  z-index: 180;
  top: 35%;
  right: -27%;
  width: 100%;
}
.mtforestright svg {
  width: 100%;
}

@keyframes animate {
  0% {
    transform: rotateZ(-55deg) rotateX(10deg) skew(-3deg);
  }
  20% {
    transform: rotateZ(0deg);
  }
  /* 22% {
    background: url("./imgs/tail3.svg") no-repeat;
  } */

  50% {
    transform: rotateZ(45deg) rotateY(10deg) rotateX(-15deg) skewY(5deg);

    /* background: url("./imgs/tail3.svg") no-repeat;
    transform-origin: 100px 200px; */
  }
  100% {
    transform: rotateZ(-55deg);
  }
  /* 60% {
    transform: rotateZ(250deg);
  } */
  /* 50% {
    transform: rotateZ(200deg);
  }
  100% {
    transform: rotateZ(250deg);
  } */
}
.test {
  position: absolute;
  top: 100%;
  left: 25%;
  border: 1px solid sienna;
  width: 50%;
  height: 800px;
  transform: scale(0.5);
}
.tail {
  position: absolute;
  display: block;
  width: 60px;
  height: 222px;
  padding: 0;
  margin: 0;
  top: 40%;
  left: 8%;
  text-align: center;
  transform-origin: top center;
  background: url("./imgs/tail2.svg") no-repeat;
  transform: rotate(0);

  animation: animate 4.5s cubic-bezier(0.45, 0.5, 0.63, 0.69) infinite backwards;
}
/* testing ground*/
.containertest {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 5000;
  overflow: hidden;
}
body {
  overflow: hidden;
}

@keyframes suns {
  0% {
    transform: rotate(-20deg);
  }

  /* 30% {
    width: 50vw;
    margin-left: 25vw;
  } */

  /* 60% {
    width: 50vw;
    margin-left: 25vw;
  } */

  100% {
    transform: rotate(-380deg);
  }
}
/* @keyframes objectmove {
  0% {
    right: 0;
  }
  50% {
    right: 30%;
  }
  100% {
    right: 0;
  }
} */
.suncont,
.mooncont {
  width: 28vw;
  margin-left: 50vw;
  margin-top: 60vh;
  height: 20px;
  position: relative;
  transform-origin: 0 50%;
  animation: suns 150s linear infinite forwards;
  z-index: 10;
}
.mooncont {
  margin-top: 0;
  animation-delay: 75s;
}

.sun {
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5vw;
  height: 5vw;
  z-index: 1;
  filter: blur(3px);
  /* background-color: yellow; */
  /* background: radial-gradient(
    circle,
    #ffffff 25%,
    #ffe484 65%,
    #ffcc33 95%,
    #fc9601 100%
  ); */

  background: radial-gradient(circle, #fff2cc 15%, #ffd966 70%, #fc9601 100%);
}
@keyframes pulse {
  0% {
    opacity: 0.9;
  }
  30% {
    opacity: 0.2;
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}
.sunpulse {
  content: "";
  position: absolute;
  width: 2.5vw;
  height: 2.5vw;
  top: 1.25vw;
  left: 1.25vw;
  /* transform: translate(-50%, -50%); */
  border-radius: 50%;
  z-index: -1;
  background-color: #fff2cc;
  animation: pulse 2s ease infinite forwards;
}
/* animation: objectmove 1.5s linear infinite forwards; */

.moon {
  position: absolute;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  width: 5vw;
  height: 5vw;
  padding: 0;
  margin: 0;
  box-shadow: 0px 1px 60px 0px rgba(253, 253, 253, 1);
}
.moon svg {
  display: block;
  margin: auto;
  width: 111%;
  transform: translateY(-11%) translateX(-5.5%);
}
